#projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
    
#projects h1 {
    color: red;
}

#projects a {
    text-decoration: none;
    color: white;
}

#projects a .project {
    padding: 0 10px 0 10px;
    border-style: dashed;
}