doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv="refresh" content="3;url=/")
        link(rel='stylesheet' href='/404.css')
        title 404
    body
        div
            h2 You done fucked up big time aye. This page doesn't exist.
            h3 Redirecting you home now ....