<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="refresh" content="3;url=/">
    <%- include('partials/head'); %>
</head>
<body>
    <div>
        <h2>You done messed up big time aye. This page doesn't exist.</h2>
        <h3>Redirecting you home now ....</h3>
    </div>
    
    <%- include('partials/footer'); %>
</body>
</html>