doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        link(rel="stylesheet" href="/index.css")
        title Home
    body
        div
            a(href='/login') Login
        div
            .wheel
            .center-home
                h1 HOME

