<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <%- include('../partials/header'); %>
    
    <div id="projects">
        <h1>Projects</h1>
        <a href="/projects/wordle">
            <div class="project">
                <h2>Wordle</h2>
                <p>Wordle is a fun game. You get 5 attempts to guess the word.</p>
            </div>
        </a>
    </div>
    
    <%- include('../partials/footer'); %>
</body>
</html>