body {
    background-color: #121212;
    color: #eee;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    font-size: 16px;
}

a {
    color: #eee;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: #3274d6;
}