header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
header li {
    float: left;
}
header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}
header li a:hover {
    background-color: #333;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}