doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv="refresh" content="3;url=//localhost:3000/")
        link(rel='stylesheet' href='/.css')
        title 404
    body
        h1 Bruh what happened ????!
        br
        h3 Redirecting you home now ....