doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        link(rel="stylesheet" href="/account.css")
        title Account
    body
        h1 You are logged in as: #{name}
        a(href='//localhost:3000/') Click to go home
        br
        a(href='//localhost:3000/logout') Click to LOGOUT