doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        link(rel="stylesheet" href="/account.css")
        title Account
    body
        div
            h1 You are logged in as: #{name}
            br
            p Click <a href="/">HERE</a> to go home
            p Click <a href="/logout">HERE</a> to logout